.wrapper_squeeze_title {
  display: flex;
  margin: 2rem;
}

.squeeze_title {
  text-align: center;
  color: #867676;
}

.button_squeeze_wrapper {
  display: flex;
}

.link_button {
  cursor: pointer;
  margin: 1rem auto;
  padding: 0.4rem;
  background: rgb(96, 47, 47);
  color: white;
  border: 1px solid rgb(96, 47, 47); 
}

.greet_title_wrapper {
  display: flex;
}

.greet_title {
  margin: 1rem auto;
  color: rgb(57, 11, 57);
}

.login_error_title {
  display: flex;
  justify-content: center;
}

.link_info_wrapper {
  display: flex;
  justify-content: center;
}

.link_info {
  padding: 1rem;
  color:rgb(96, 47, 47);
  text-shadow: 1px 1px 2px rgb(179, 141, 141);
  opacity: 0;
  animation: appear 4s forwards;
}

@keyframes appear {
  0% {opacity: 0;}
  100% {opacity: 1;}
}