.pagination {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 3rem;
}

.page_item {
  padding: 0.6rem;
  font-size: large;
  border: 1px solid rgb(198, 93, 93);
  background: rgb(241, 175, 175);
  cursor: pointer;
}

.page_item_next {
  background:rgb(133, 66, 66);
}

.page_link {
   color: rgb(117, 29, 29);
   font-weight: bold;
   text-decoration: none;
}

.page_link_next {
  color: white;
  font-weight: normal;
}

.active {
  background: rgb(198, 93, 93);
  color: white;
}